{namespace seeder=Dennis\Seeder\ViewHelpers}

<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:section name="main">
	<f:if condition="{action} == 'edit'">
		<f:then>
			<f:form.textfield id="{column.name}" class="form-control" name="{column.name}" value="{column.name -> seeder:testData.get()}" additionalAttributes="{readonly: 'readonly'}" />
		</f:then>
		<f:else>
			<f:form.textfield id="{column.name}" class="form-control" name="{column.name}" value="{column.name -> seeder:testData.get()}" />
		</f:else>
	</f:if>
</f:section>

</html>