<f:layout name="Default"/>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:section name="header">
	<h1><f:translate key="seeder"/></h1>
</f:section>

<f:section name="main">
	<div class="row">
		<div class="col-md-6">
			<f:if condition="{seeds -> f:count()} > 0">
				<f:then>
					<table class="table">
						<tr>
							<th><f:translate key="title" /></th>
							<th></th>
						</tr>
						<f:for each="{seeds}" as="seed">
							<tr>
								<td>{seed.title}</td>
								<td>
									<f:link.action class="btn btn-success" action="run" arguments="{seed: seed}"><i class="fa fa-play"></i> <f:translate key="run" /></f:link.action>
									<f:link.action class="btn btn-primary" action="show" arguments="{seed: seed}"><i class="fa fa-eye"></i> <f:translate key="show" /></f:link.action>
									<f:link.action class="btn btn-primary" action="edit" arguments="{seed: seed}"><i class="fa fa-pencil"></i> <f:translate key="edit" /></f:link.action>
									<f:link.action class="btn btn-danger" action="delete" arguments="{seed: seed}"><i class="fa fa-trash"></i> <f:translate key="delete" /></f:link.action>
								</td>
							</tr>
						</f:for>
					</table>
				</f:then>
				<f:else>
					<p>
						<f:translate key="noSeeds"/>
					</p>
					<p>
						<f:link.action class="btn btn-primary" action="new"><f:translate key="createNewSeeder"/></f:link.action>
					</p>
				</f:else>
			</f:if>
		</div>
	</div>
</f:section>

</html>
