<f:layout name="Default"/>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:section name="header">
	<h1><f:translate key="seeder"/></h1>
</f:section>

<f:section name="main">
	<div class="row">
		<div class="col-md-6">
			<p>
				<f:link.external uri="https://packagist.org/packages/fzaninotto/faker" target="_new">fzaninotto/faker</f:link.external>
				was not found. Make sure to install it via composer.
				<figure class="highlight"><pre><code>composer require fzaninotto/faker</code></pre></figure>
			</p>
			<p>
				Still have problems with seeder?
				<f:link.external uri="https://github.com/TildBJ/seeder/issues/new" target="_new">Feel free to create a new bug report!</f:link.external>
			</p>
		</div>
	</div>
</f:section>

</html>
